[tool.poetry]
name = "deluge-announce"
version = "0.1.2"
description = "Simple utility to re-announce torrents for Deluge on a timed interval (single run or indefinitely via CRON)"
authors = ["jlw_4049 <jessielw4049@gmail.com>"]
maintainers = ["jlw_4049 <jessielw4049@gmail.com>"]
keywords = ["python", "deluge", "re-announce", "announce"]
license = "MIT"
readme = "README.md"
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Environment :: Console",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Utilities",
]


[tool.poetry.dependencies]
python = ">=3.10"
deluge-web-client = "^1.0.4"
apscheduler = "^3.11.0"
python-dotenv = "^1.0.1"


[tool.poetry.group.dev.dependencies]
ruff = "^0.8.3"

[tool.ruff]
line-length = 88


[tool.basedpyright]
include = ["deluge_announce"]
typeCheckingMode = "standard"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
