.oe_primary_color {
    color: #7C7BAD !important;
}

.oe_small_text {
    font-size: 1.2rem;
    line-height: normal !important;
}

.o_to_single_line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.o_to_single_line > :first-child::after {
    content: 'One line per employee if unchecked.';
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .94rem;
    color: #7C7BAD !important;
    margin-top: 2px;
}