[bumpversion]
current_version = 1.0.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"


[bumpversion:file:info]
search = 'version': '{current_version}'
replace = 'version': '{new_version}'


[bumpversion:file:info.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"


[bumpversion:file:Makefile]
search = ACTIVE_CHECK_VERSION=current_version
replace = ACTIVE_CHECK_VERSION=new_version
